In [1]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [6]:
#finding unique values
df["col2"].unique()

array([444, 555, 666], dtype=int64)

In [7]:
df["col2"].nunique()

3

In [15]:
df["col2"].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [22]:
new_df = df[(df["col1"]>2) & (df["col2"] % 333 == 0)]
new_df

   col1  col2 col3
2     3   666  ghi

In [23]:
def times2(x):
    return x * 2

df["col1"].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [26]:
df["col2"].apply(lambda x: x ** 2)

0    197136
1    308025
2    443556
3    197136
Name: col2, dtype: int64

In [28]:
df.drop("col1", axis=1)

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [29]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [35]:
df.columns
df.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
df.sort_values("col2")

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [37]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [38]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [41]:
df["E"] = range(1,7)

In [46]:
df["E"][3] = None

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [47]:
df

     A    B  C  D     E
0  foo  one  x  1     1
1  foo  one  y  3     2
2  foo  two  x  2     3
3  bar  two  y  5  None
4  bar  one  x  4     5
5  bar  one  y  1     6

In [48]:
df.isnull()

       A      B      C      D      E
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False   True
4  False  False  False  False  False
5  False  False  False  False  False

In [50]:
df.drop("E", axis = 1, inplace = True)

In [51]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [54]:
df_pv = df.pivot_table(values="D", index=["A", "B"], columns="C")

In [56]:
df_pv.fillna(df["D"].mean())

C               x         y
A   B
bar one  4.000000  1.000000
    two  2.666667  5.000000
foo one  1.000000  3.000000
    two  2.000000  2.666667