In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
outside = "G1 G1 G1 G2 G2 G2".split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [10]:
df = pd.DataFrame(randn(6,2), hier_index, ["A", "B"])
df

             A         B
G1 1 -0.350602 -0.958782
   2 -0.208426 -0.601032
   3 -0.106600  1.931533
G2 1  2.573150  2.035059
   2 -1.095078  0.617389
   3  0.270417  0.781446

In [16]:
df.loc["G1"].loc[1]["B"]

-0.95878169183784867

In [19]:
df.index.names = "Groups Num".split()
df

                   A         B
Groups Num
G1     1   -0.350602 -0.958782
       2   -0.208426 -0.601032
       3   -0.106600  1.931533
G2     1    2.573150  2.035059
       2   -1.095078  0.617389
       3    0.270417  0.781446

In [20]:
df.loc["G2"].loc[2]["B"]

0.61738866171642892

In [22]:
df.loc["G1"].loc[2]["B"]

-0.60103249500442135

In [24]:
df

                   A         B
Groups Num
G1     1   -0.350602 -0.958782
       2   -0.208426 -0.601032
       3   -0.106600  1.931533
G2     1    2.573150  2.035059
       2   -1.095078  0.617389
       3    0.270417  0.781446

In [26]:
df.loc["G1"]

            A         B
Num
1   -0.350602 -0.958782
2   -0.208426 -0.601032
3   -0.106600  1.931533

In [28]:
df.xs(1, level = "Num")

               A         B
Groups
G1     -0.350602 -0.958782
G2      2.573150  2.035059