In [3]:
import numpy as np
import tensorflow as tf

In [4]:
import pandas as pd

In [5]:
from numpy.random import randn

In [6]:
np.random.seed(101)

In [7]:
df = pd.DataFrame(randn(5,4),["A", "B", "C", "D", "E"], ["W", "X", "Y", "Z"])

In [8]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df > 0.5

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D  False  False  False   True
E  False   True   True   True

In [14]:
bool_df = df > 0.5

In [15]:
bool_df

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D  False  False  False   True
E  False   True   True   True

In [16]:
df[bool_df]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D       NaN       NaN       NaN  0.955057
E       NaN  1.978757  2.605967  0.683509

In [17]:
df[df>0.5]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D       NaN       NaN       NaN  0.955057
E       NaN  1.978757  2.605967  0.683509

In [18]:
df["W"] > 0.5

A     True
B     True
C    False
D    False
E    False
Name: W, dtype: bool

In [19]:
df[df["W"]>0.5]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [21]:
df[df["W"]>0.5]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [24]:
df[df["Z"] < 0][["Y", "Z"]]

          Y         Z
C  0.528813 -0.589001

In [34]:
df[(df["W"] > 0) & (df["X"] < 0)][["Y", "Z"]]

          Y         Z
B -0.848077  0.605965
D -0.933237  0.955057

In [38]:
df2 = df
df2

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
df2.reset_index(inplace = True)
df2

   level_0 index         W         X         Y         Z
0        0     A  2.706850  0.628133  0.907969  0.503826
1        1     B  0.651118 -0.319318 -0.848077  0.605965
2        2     C -2.018168  0.740122  0.528813 -0.589001
3        3     D  0.188695 -0.758872 -0.933237  0.955057
4        4     E  0.190794  1.978757  2.605967  0.683509

In [43]:
new_index = "CA NY WY OR CO".split()
new_index

['CA', 'NY', 'WY', 'OR', 'CO']

In [44]:
df["States"] = new_index

In [45]:
df

   level_0 index         W         X         Y         Z States
0        0     A  2.706850  0.628133  0.907969  0.503826     CA
1        1     B  0.651118 -0.319318 -0.848077  0.605965     NY
2        2     C -2.018168  0.740122  0.528813 -0.589001     WY
3        3     D  0.188695 -0.758872 -0.933237  0.955057     OR
4        4     E  0.190794  1.978757  2.605967  0.683509     CO

In [46]:
df.set_index("States")

        level_0 index         W         X         Y         Z
States
CA            0     A  2.706850  0.628133  0.907969  0.503826
NY            1     B  0.651118 -0.319318 -0.848077  0.605965
WY            2     C -2.018168  0.740122  0.528813 -0.589001
OR            3     D  0.188695 -0.758872 -0.933237  0.955057
CO            4     E  0.190794  1.978757  2.605967  0.683509

In [56]:
df.drop("level_0", axis = 1, inplace = True)

In [57]:
df

  index         W         X         Y         Z States
0     A  2.706850  0.628133  0.907969  0.503826     CA
1     B  0.651118 -0.319318 -0.848077  0.605965     NY
2     C -2.018168  0.740122  0.528813 -0.589001     WY
3     D  0.188695 -0.758872 -0.933237  0.955057     OR
4     E  0.190794  1.978757  2.605967  0.683509     CO