In [1]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [6]:
#finding unique values
df["col2"].unique()

array([444, 555, 666], dtype=int64)

In [7]:
df["col2"].nunique()

3

In [15]:
df["col2"].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [22]:
new_df = df[(df["col1"]>2) & (df["col2"] % 333 == 0)]
new_df

   col1  col2 col3
2     3   666  ghi

In [23]:
def times2(x):
    return x * 2

df["col1"].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [26]:
df["col2"].apply(lambda x: x ** 2)

0    197136
1    308025
2    443556
3    197136
Name: col2, dtype: int64

In [28]:
df.drop("col1", axis=1)

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [29]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [35]:
df.columns
df.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
df.sort_values("col2")

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [37]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False