In [8]:
def my_func(name = "Isaac"):
    print("Hello: {a}".format(a = name))

In [10]:
my_func()

Hello: Isaac

In [11]:
my_func

In [12]:
def my_square(num = 1):
    return num ** 2

In [14]:
my_square(8)

64

In [23]:
def times_two(a = 0): return a * 2

In [18]:
#map function
seq = range(1, 10)

In [19]:
seq

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(map(times_two, seq))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
#lambda expression

In [26]:
t = lambda var: var**3

In [25]:
map(lambda var: var**3, range(1,20))

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859]

In [37]:
filter(lambda num: num%5 == 2, range(2,91))

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87]

In [38]:
s = "hello this is isaac"

In [39]:
s.upper()

'HELLO THIS IS ISAAC'

In [41]:
my_txt = s.split()

In [43]:
map(lambda txt:txt.lower(), my_txt)

['hello', 'this', 'is', 'isaac']

In [44]:
tweet1 = "Go Sports! #SWERQREWRports!"

In [46]:
tweet1.split("#")[1]

'SWERQREWRports!'

In [47]:
d = {"k1":1, "k2":3}

In [48]:
d.keys()

['k2', 'k1']

In [49]:
d.values()

[3, 1]

In [50]:
lst = range(1,9)

In [52]:
lst.pop()

8

In [53]:
lst

[1, 2, 3, 4, 5, 6, 7]

In [54]:
lst.append(8)

In [55]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
lst.append(lst.pop())

In [57]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
"x" in lst

False

In [60]:
x = [(1,2),(3,4),(5,6)]

In [62]:
for (a,b) in x:
    print(b)

2
4
6